<!DOCTYPE html>
<html>
    <head>
      <title>Posts</title>
    </head>

    <body>
      <h1>All Posts</h2>
      <ul>
      <% @posts.each do |post| %>
        <li><a href="posts/<%= post.id %>"><%= post["name"] %>: <%= post["content"] %></a></li>
        <% end %>
      </ul>
      <br>
      <a href="/posts/new">Click here to create a new post!</a>
    </body>
</html>
