<form action="/posts" method="post">
  <label for="name">Name: </label><br>
  <input type="text" name="name"><br>
  <label for="content">Content: </label><br>
  <input type="text" name="content"><br>
  <input type="submit" value="submit"><br>
</form>
